<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpuvoice.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.write_external_storage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppStartLoadTranslucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>
        <activity android:name=".ImageShowActivity" />
        <activity android:name=".NewsContentActivity" />
        <activity
            android:name=".ShowMenuItemActivity"
            android:label="@string/title_activity_show_menu_item" >
        </activity>
    </application>

</manifest>
